---
title: Quantum Computer Verification
type: topic
layout: research
---



I am interested in the quantum computer verification problem. When the quantum devices are affected by noise, the computation outcome of quantum computer is not correct. Some of problems to be solved by the quantum computer cannot be checked by a classical computer. In this case, we need to verify the computation outcome. In [Phys. Rev. Lett **115**, 220502 (2015)], I proposed a method to guarantee the computation outcome of a quantum computer. After this paper, many papers employed the method of this paper to verify quantum computers. Then, I extended my method so that it verifies the computation outcome even in the presence of noises. This method can be applied to an implementation of quantum computer.

> **M. Hayashi**, T. Morimae, "Verifiable measurement-only blind quantum computing with stabilizer testing," *Phys. Rev. Lett.,* vol. 115, 220502 (2015).

This paper initialized the verification of measurement-based quantum computer.

> K. Fujii and **M. Hayashi**, "Verifiable fault tolerance in measurement-based quantum computation," *Physical Review A, Rapid Communication*, Vol. 96, 030301(R) (2017).

This paper discussed the verification of fault tolerant measurement-based quantum computer. This method works even with the noise existence.

> **M. Hayashi** and M. Hajdušek, "Self-guaranteed measurement-based blind quantum computation," *Physical Review A*, Vol. 97, 052308 (2018).

This paper discussed the self-testing of measurement-based quantum computer even with untrusted measurement devices.